
html, body { 
    height: 100%; 
    width: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 5px;
}
/*Dog Card Section*/

/*Data received from server side is lowercased, so we capitalize it*/
.dog-card-title {
    text-transform: capitalize;
}
.dog-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    overflow-y: scroll;
    justify-content:  center;
}
.dog-card-wrapper img {
    width: 25px;
    margin: auto;
    filter: invert(10%) sepia(98%) saturate(5273%) hue-rotate(59deg) brightness(86%) contrast(90%);
}
.dog-card {
    width: 200px;
    margin: 5px;
    color: #ae8507;
    background-color: #ffc300 !important;
}
/*Navigation styling*/
.navigation-wrapper {
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;
    text-align: center;
}
.naivgation-wrapper a {
    text-decoration: none !important;
    margin: 5px;
}
/*Styling for random dog page*/
.random-dog-wrapper {
    width: 100%;
    height: 500px;
    text-align: center;
}
.random-dog-wrapper img {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    object-fit:cover;
    border-radius: 10px;
}
/*Styling for header */
.title-header {
    text-align: center;
    color: #ffc300;
    font-weight: 800;
}